[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
mypy = "*"
ptvsd = "*"
pytest = "*"
pytest-cov = "*"
pytest-env = "*"
pytest-mock = "*"
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
drf-nested-routers = "*"
boto3 = "*"
psycopg2-binary = "*"
ulid-py = "*"

[requires]
python_version = "3.7"
